In [1]:
import re
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv(r"C:\Users\FILKON\Desktop\Potrzebne pliki\Pogoda\Meteo_2025-01\Meteo_2025-01\B00802A_2025_01.csv", header = None, sep =';')

In [5]:
kodsh_values = [254180090, 354180140, 354180150, 254180110, 354180155, 254189999]

In [7]:
def transform_wx_data(df, shcode):
	# Ustawia nazwy kolumn
    df.columns = ['KodSH', 'ParametrSH', 'Data', 'Wartość pomiarowa']

    # Zachowuje wiersze, które kończą się na ':00'
    df = df[df['Data'].str.endswith(':00')]

    # Filtruje wartości w kolumnie 'KodSH'
    df = df[df['KodSH'].isin(kodsh_values)]

    # Ustawia kolumnę 'Data' jako indeks
    df = df.set_index('Data')

    return df

In [9]:
df = transform_wx_data(df, kodsh_values)

In [11]:
df

                      KodSH ParametrSH  Wartość pomiarowa
Data
2025-01-01 00:00  254180090    B00802A               93.0
2025-01-01 01:00  254180090    B00802A               92.0
2025-01-01 02:00  254180090    B00802A               89.0
2025-01-01 03:00  254180090    B00802A               87.0
2025-01-01 04:00  254180090    B00802A               85.0
...                     ...        ...                ...
2025-01-31 19:00  354180155    B00802A               87.0
2025-01-31 20:00  354180155    B00802A               86.0
2025-01-31 21:00  354180155    B00802A               85.0
2025-01-31 22:00  354180155    B00802A               85.0
2025-01-31 23:00  354180155    B00802A               86.0

[1488 rows x 3 columns]