In [1]:
import re
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [43]:
df = pd.read_csv(r"C:\Users\FILKON\Downloads\Meteo_2025-01\Meteo_2025-01\B00802A_2025_01.csv", header = None, sep =';')

In [45]:
df

                 0        1                 2     3
0        249180010  B00802A  2025-01-01 00:00  81.0
1        249180010  B00802A  2025-01-01 00:10  81.0
2        249180010  B00802A  2025-01-01 00:20  81.0
3        249180010  B00802A  2025-01-01 00:30  81.0
4        249180010  B00802A  2025-01-01 00:40  79.0
...            ...      ...               ...   ...
1293431  354220195  B00802A  2025-01-31 23:10  96.0
1293432  354220195  B00802A  2025-01-31 23:20  96.0
1293433  354220195  B00802A  2025-01-31 23:30  96.0
1293434  354220195  B00802A  2025-01-31 23:40  96.0
1293435  354220195  B00802A  2025-01-31 23:50  96.0

[1293436 rows x 4 columns]

In [47]:
df.columns = ['KodSH', 'ParametrSH', 'Data', 'Wartość pomiarowa']

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1293436 entries, 0 to 1293435
Data columns (total 4 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   KodSH              1293436 non-null  int64
 1   ParametrSH         1293436 non-null  object
 2   Data               1293436 non-null  object
 3   Wartość pomiarowa  1293436 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 39.5+ MB

In [53]:
df = df[(df['KodSH'] == 254180090) | (df['KodSH'] == 354180140) | (df['KodSH'] == 354180150) | (df['KodSH'] == 254180110) | (df['KodSH'] == 354180155) | (df['KodSH'] == 254189999)]

In [55]:
df

             KodSH ParametrSH              Data  Wartość pomiarowa
955724   254180090    B00802A  2025-01-01 00:00               93.0
955725   254180090    B00802A  2025-01-01 00:10               93.0
955726   254180090    B00802A  2025-01-01 00:20               93.0
955727   254180090    B00802A  2025-01-01 00:30               93.0
955728   254180090    B00802A  2025-01-01 00:40               93.0
...            ...        ...               ...                ...
1280039  354180155    B00802A  2025-01-31 23:10               86.0
1280040  354180155    B00802A  2025-01-31 23:20               87.0
1280041  354180155    B00802A  2025-01-31 23:30               87.0
1280042  354180155    B00802A  2025-01-31 23:40               87.0
1280043  354180155    B00802A  2025-01-31 23:50               86.0

[8928 rows x 4 columns]