In [1]:
import re
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [61]:
df = pd.read_csv(r"C:\Users\FILKON\Desktop\Potrzebne pliki\Pogoda\Meteo_2025-01\Meteo_2025-01\B00802A_2025_01.csv", header = None, sep =';')

df_temp = pd.read_csv(r"C:\Users\FILKON\Desktop\Potrzebne pliki\Pogoda\Meteo_2025-01\Meteo_2025-01\B00300S_2025_01.csv", header = None, sep =';')

In [3]:
kodsh_values = [254180090, 354180140, 354180150, 254180110, 354180155, 254189999]

In [59]:
def transform_wx_data(df: pd.DataFrame, shcode: set):
    """Transformuje dane pogodowe, filtrując kolumny i wartości.
    
    Args:
        df (pd.DataFrame): Wejściowy DataFrame z danymi pogodowymi.
        kodsh_values (set): Zbiór kodów SH (kodów stacji pomiarowych) do filtrowania.
        
    Returns:
        pd.DataFrame: Przetworzony DataFrame.
    """
    # Ustawienie nazw kolumn
    df.columns = ['KodSH', 'ParametrSH', 'Data', 'Wartość pomiarowa']
    
    # Zachowanie tylko wierszy, gdzie 'Data' kończy się na ':00'
    df = df.loc[df['Data'].str.endswith(':00'), df.columns]
    
    # Filtrowanie po 'KodSH'
    df = df[df['KodSH'].isin(kodsh_values)]
    
    # Konwersja 'Data' na datetime dla lepszej obsługi
    df['Data'] = pd.to_datetime(df['Data'], format='%Y-%m-%d %H:%M')
    
    # Ustawienie indeksu
    return df.set_index('Data')

In [63]:
df = transform_wx_data2(df, kodsh_values)

In [65]:
df

                         KodSH ParametrSH  Wartość pomiarowa
Data
2025-01-01 00:00:00  254180090    B00802A               93.0
2025-01-01 01:00:00  254180090    B00802A               92.0
2025-01-01 02:00:00  254180090    B00802A               89.0
2025-01-01 03:00:00  254180090    B00802A               87.0
2025-01-01 04:00:00  254180090    B00802A               85.0
...                        ...        ...                ...
2025-01-31 19:00:00  354180155    B00802A               87.0
2025-01-31 20:00:00  354180155    B00802A               86.0
2025-01-31 21:00:00  354180155    B00802A               85.0
2025-01-31 22:00:00  354180155    B00802A               85.0
2025-01-31 23:00:00  354180155    B00802A               86.0

[1488 rows x 3 columns]